* {
  margin: 0;
  padding: 0;
}

p {
  height: 52px;
  line-height: 52px;
  float: left;
}

#white {
  background: white;
}

.wrap {
  height: 52px;
  width: 300px;
  margin-left: 7.5px;
  margin-bottom: 5px;
  background: #e68c8b;
}

.arrowhead {
  width: 26px;
  height: 52px;
  float: left;
}

/*
form {
  margin: 2em auto;
  width: 400px;
}

.name {
  float: left;
  text-indent: 1em;
  font-size: 0.75em;
  color: #333;
  height: 18px;
  line-height: 18px;
}

.input-wrap {
  width: 300px;
  height: 40px;
  border: 1px solid #999;
}

input {
  text-indent: 1em;
  float: right;
  width: 225px;
  height: 40px;
  box-sizing: border-box;
  border: none;
}

input:focus {
  outline: none;
}

.text {
  font-size: 0.5em;
  color: #999;
}

.button {
  width: 302px;
}

button {
  width: 302px;
  height: 42px;
  background-color: red;
  color: white;
  border: none;
}
*/
